.header{
    background-color: rgb(214, 84, 145);
    border-width: 3px;
    border-color:grey;
    border-radius: 5px;
    border-style:inset;
    width:fit-content;
    height:auto;
    padding:10px;
    margin:20px;

}

span{
    background-color: rgb(214, 84, 145);
    border-width: 3px;
    border-color:grey;
    border-radius: 5px;
    border-style:inset;
    width:50px;
    height:50px;
    padding:10px;
    margin:20px;
}

.p1{
    background-color: burlywood;
    border: solid 2px black ;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    padding:10px;
    margin:20px;
}

.p2{
    background-color: rgb(207, 104, 66);
    border: solid 2px black ;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    padding:10px;
    margin:20px;
}

.p3{
    background-color: cadetblue;
    border: solid 2px black ;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    padding:10px;
    margin:20px;
}