.container{
    border: 1px solid black;
    position: relative;
    height: 8000px;
}
img{
    margin: 10px;
}

.image3{
    top: 60px;
   position:sticky;
}
.image4{
    position: fixed;
}
.box{
    height: 1000px;
    background-color: aqua;
}