.container{
    border: 3px solid brown;
    background-color: antiquewhite;
    margin:1px;
    padding:1px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50vw;
    height: 50vh;
}
#box1{
    border: 3px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    height: 50%;
}
.item{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: black;
    border:1px solid black;
    margin:5px;
    padding:2px;
    width:50px;
    height:50px;
   
}
#item1{
    background-color: red;
}
#item2{
    background-color: yellowgreen;
}
#item3{
    background-color: coral;
}
#item4{
    background-color: cadetblue;
}